{% extends 'base.html' %}
{% load static %}
{% block content %}


<br>
<br>
<div style="margin: auto;width: 50%;">
        <form>

          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputName" placeholder="Name" value="{{customer.name}}" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPlace" class="col-sm-2 col-form-label">Place</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputPlace" placeholder="Place" value="{{customer.city}}" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{customer.email}}" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputAccountNumber" class="col-sm-2 col-form-label">Account Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputAccountNumber" placeholder="AccountNumber" value="{{customer.account_number}}" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputAccountType" class="col-sm-2 col-form-label">Account Type</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputAccountType" placeholder="AccountType" value="{{customer.account_type}}" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputAccountBalance" class="col-sm-2 col-form-label">Balance(Rs)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputAccountBalance" placeholder="AccountBalance" value="{{customer.current_balance}}" readonly>
            </div>
          </div>


        </form>
</div>
<br>
<div style="margin: auto;width: 50%;border-style:groove;text-align:center;">
<br>
    <div class="form-group row" id="show_button">
      <div class="col-sm-10">
        <button  class="btn btn-primary" onclick="hideButton()">Transfer Money</button>
      </div>
    </div>

    <form class="form-inline" id="hidden_form" style="display: none;" method="POST">
      {% csrf_token %}
      <div class="form-group mx-sm-3 mb-2">
        <label for="inputCustomer" >Select User</label>
        <select  class="form-control" id="inputCustomer" name="inputCustomer" required>
          <option selected value="">Choose...</option>
          {% for i in cs%}
          <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group mx-sm-3 mb-2">
        <label for="Amount" class="sr-only">Amount</label>
        <input type="number" class="form-control" id="Amount" name="Amount" placeholder="Amount(Rs)" required>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Transfer</button>
  </form>
  <br>
    <div id="msgs">
      
      
    </div>

    <br>
</div>



<script>

var form = document.getElementById('hidden_form')
        form.addEventListener('submit',function(e){
          e.preventDefault()
          //console.log('Form Submitted');
          //document.getElementById('track_order').style.display='none';


          var customer_id=form.inputCustomer.value;
          var amount=form.Amount.value;
          var balance= {{customer.current_balance}};
          //alert(customer_id);

          if (amount<=0){
            content='<div class="alert alert-danger" role="alert">Enter Amount bigger than zero ! </div>';
            document. getElementById('msgs'). innerHTML =content;
            
          }
          else{
            if(amount>balance){
              content='<div class="alert alert-danger" role="alert">Your Current Balance is not sufficient for this transfer ! </div>';
              document. getElementById('msgs'). innerHTML =content;
              
            }
            else{
              $.ajax({
                    type:'POST',
                    url:'/transfer/',
                    data:{
                        from_customer:{{customer.id}},
                        to_customer:customer_id,
                        amount:amount,
                        csrfmiddlewaretoken:'{{ csrf_token }}'
                    },
                    success:function(data){
                        //alert('success');
                        console.log(data);
                        content='<div class="alert alert-success" role="alert">Transaction Succefull.</div>';
                        new_amount=data['new_amount'];
                        document. getElementById('msgs'). innerHTML =content;
                        document. getElementById('inputAccountBalance'). value =new_amount;
                        //var status=JSON.parse(data);
                        
                        //console.log(status);
                        //content='<h3>Track Details</h3><table class="table table-borderless"><thead><tr><th scope="col" colspan="2">Description</th>';
                        //content+='<th scope="col">Date</th></tr></thead><tbody>'
                        
                        //document. getElementById('track_details'). innerHTML =content
                        
                    },
                    error:function(){
                      content='<div class="alert alert-danger" role="alert">Something Went wrong . Try again ! </div>';
                      document. getElementById('msgs'). innerHTML =content;
                    }
                });

            }
          }

          
          

          
        });




    function hideButton(){
      document.getElementById('hidden_form').style.display='block';
      document.getElementById('show_button').style.display='none';
    }
</script>






{% endblock content %}